#mainLeftBox {
    -fx-background-color: black;
}

#gameBoard {
    -fx-background-image: url("../images/gameboards/GameBoard003.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#killShootTrack {
    -fx-background-image: url("../images/gameboards/killShootTrack.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

#blueSpawnWeapons {
    -fx-background-image: url("../images/gameboards/blueSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

#blueSpawnWeapons > ColumnConstraints {
    -fx-padding: 15px;
}

#redSpawnWeapons {
    -fx-background-image: url("../images/gameboards/redSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#yellowSpawnWeapons {
    -fx-background-image: url("../images/gameboards/yellowSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#aggregateActionBox {
    -fx-background-image: url("../images/playerboards/blue_aggregate_action.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#boardWithoutAggregateAction {
    -fx-background-image: url("../images/playerboards/blue_board_without_aggregate_action.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.otherPlayer {
    -fx-background-color: #ddd;
    -fx-border-color: black;
}

.playerPowerUPTest {
    -fx-background-image: url("../images/cards/AD_powerups_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.playerWeaponTest {
    -fx-background-image: url("../images/cards/AD_weapons_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.spawnWeapon {
    -fx-background-image: url("../images/cards/AD_weapons_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
