#gameBoard {
    -fx-background-image: url("../images/gameboards/GameBoard003.png");
}

#killShootTrack {
    -fx-background-image: url("../images/gameboards/killShootTrack.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

#blueSpawnWeapons {
    -fx-background-image: url("../images/gameboards/blueSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

#blueSpawnWeapons > ColumnConstraints{
    -fx-padding: 15px;
}

#redSpawnWeapons {
    -fx-background-image: url("../images/gameboards/redSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#yellowSpawnWeapons {
    -fx-background-image: url("../images/gameboards/yellowSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#playerBoard {
    -fx-background-image: url("../images/playerboards/blue_board.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.otherPlayer {
    -fx-background-color: #ddd;
    -fx-pref-width: 200px;
    -fx-pref-height: 82px;
    -fx-border-color: black;
}

#base {
    -fx-maxHeight: 1025px;
    -fx-maxWidth: 1400px;
    -fx-minHeight: 1025px;
    -fx-minWidth: 1400px;
    -fx-prefHeight: 1025px;
    -fx-prefWidth: 1400px;
}

.playerPowerUPTest {
    -fx-background-image: url("../images/cards/AD_powerups_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.playerWeaponTest {
    -fx-background-image: url("../images/cards/AD_weapons_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.spawnWeapon {
    -fx-background-image: url("../images/cards/AD_weapons_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}