#mainLeftBox {
    -fx-background-color: black;
}

#killShotTrackGrid {
    -fx-background-image: url("../images/gameboards/killShootTrack.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

#blueSpawnWeapons {
    -fx-background-image: url("../images/gameboards/blueSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;

}

#blueSpawnWeapons > ColumnConstraints {
    -fx-padding: 15px;
}

#redSpawnWeapons {
    -fx-background-image: url("../images/gameboards/redSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#yellowSpawnWeapons {
    -fx-background-image: url("../images/gameboards/yellowSpawn.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.otherPlayer {
    -fx-background-color: #ddd;
    -fx-border-color: black;
}

.spawnWeapon {
    -fx-background-image: url("../images/cards/AD_weapons_IT_sledgehammer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
