#aggregateActionBox {
    -fx-background-image: url("../images/playerboards/blue_aggregate_action.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

#boardWithoutAggregateAction {
    -fx-background-image: url("../images/playerboards/blue_board_without_aggregate_action.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.playerPowerUPTest {
    -fx-background-image: url("../images/cards/AD_powerups_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.playerWeaponTest {
    -fx-background-image: url("../images/cards/AD_weapons_IT_022.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}